<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="./angular-min.js"></script>
</head>
<body>
    <div ng-app="myNGApp" ng-controller = "myController">
        First Name: <input type="text" ng-model="firstName"><br>
        Last Name: <input type="text" ng-model="lastName"><br>
       
       
       
       Full Name: {{fullName()}}
    </div>

    <script>

    var app = angular.module('myNGApp',[]);
    app.controller('myController',function($scope){
    $scope.firstName = "Bond,";
    $scope.lastName = "James Bond";
    $scope.fullName = function(){
        return $scope.firstName+ " "+$scope.lastName;
    }

    });
    </script>
</body>
</html>